<h1>Cities info Widget</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img [src]="activeCity?.img" alt="" class="img-responsive"></div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li *ngFor="let c of ['USA','RUSSIA','ITALY','SPAIN','ALL']"><a (click)="setFilter($event.target.innerText)" href="#">{{c}}</a></li>
        </ul>
      </div>
     <app-mainlist [filter]="filter" (activeCity)="setActiveCity($event)"></app-mainlist>
    </div>
  </div>
  <div class="element-right">
    <app-weather-widget [activeCity]= "activeCity"></app-weather-widget>
    <app-info-widget [activeCity]="activeCity"></app-info-widget>
  </div>
  <div class="clear"></div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
    W3layouts </a></p>
</div>



















