<h1>Cities info Widget</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img [src]="activeCity?.img" alt="" class="img-responsive"></div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li><a href="#">Hotel</a></li>
          <li><a href="#">Fishing</a></li>
          <li><a href="#">Tours</a></li>
          <li class="anc-bor"><a href="#">Weather</a></li>
        </ul>
      </div>
      <app-mainlist [listcs]="listCities" (activeCity)="setActiveCity($event)"></app-mainlist>
    </div>
  </div>
  <div class="element-right">
    <app-weather-widget [weather_value]="weather_value"></app-weather-widget>
    <app-info-widget [info]="info"></app-info-widget>
  </div>
  <div class="clear"></div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
    W3layouts </a></p>
</div>



















